
.navtable{  
        float:left;        
        width:18%;
        
}
.title{
        color: purple;
}
.main{
        background-color: rgb(220, 209, 4);
}
.navtable{
        margin-top: 20px;
}
.v-nav-item1{

        padding-top: 3px;
        background-color: white;
        margin-bottom: 5px;
}
.v-nav-item2{    
        padding-top: 3px;
        background-color: white; 
        margin-bottom: 5px; 
}.v-nav-item3{    
        padding-top: 3px;
        background-color: white;  
        margin-bottom: 5px;
}.v-nav-item4{    
        padding-top: 3px;
        background-color: white;  
        margin-bottom: 5px;
}